name: ci

on:
  push:
    branches:
      - "dev"
      - "feature/*"

jobs:
  tox:
    name: "Tox"
    runs-on: "ubuntu-latest"

    steps:
      - uses: "actions/checkout@v5"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install the project
        run: uv sync --locked --dev
      - name: Install tox
        run: uv tool install tox --with tox-uv
      - name: "Tox"
        run: tox
