name: docs

on:
  push:
    branches:
      - main
jobs:
  pages:
    name: "Docs - Github Pages"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install the project
        run: uv sync --locked --dev
      - name: Install mkdocs
        run: uv tool install mkdocs --with mkdocstrings[python]
      - run: mkdocs gh-deploy --force
